.posts__small {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.posts__small--topic {
  font-family: "Staatliches", cursive;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;

  margin-bottom: 0px;
}
.posts__small--line {
  border: 1px solid black;
  width: 85%;
}

.posts__small--container {
  border: 2px solid black;
  border-radius: 10px;

  height: 50px;
  width: 250px;
  margin: 0 0 10px 0;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.posts__small--title {
  font-weight: bold;

  padding: 5px 0 0 10px;
}
.posts__small--info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}
.posts__small--infoUser {
  font-weight: lighter;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.posts_small--infoDate {
  font-weight: lighter;
  font-size: 0.8rem;
}

.posts__large {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.posts__large--container {
  border: 2px solid black;
  border-radius: 10px;

  height: 50px;
  width: 500px;
  margin: 0 0 10px 0;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.posts__large--title {
  font-weight: bold;

  padding: 5px 0 0 10px;
}
.posts__large--info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}
.posts__large--infoUser {
  font-weight: lighter;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.posts_large--infoDate {
  font-weight: lighter;
  font-size: 0.8rem;
}

