.nav {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.nav__item {
  text-decoration: none;
  margin: 0 0 0 20px;
  color: black;
}
.nav__item:last-child {
  margin: 0 20px 0 20px;
}
.nav__item:hover {
  text-decoration: underline;
}
