.sign-in-card {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 20% 25% 25% 30%
}

.signin-card-content {
    display: flex;
    flex-direction: column;
    align-content: center
}

.google-button {
    margin: 0 0 20px 0
}