.comment__large {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.comment__large--container {
  border: 2px solid black;
  border-radius: 10px;

  min-height: 100px;
  width: 500px;
  margin: 10px 0 0 0;
  position: relative;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.comment__large--image {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  position: absolute;
  margin: -2px 0 0 -15px;
}
.comment__large--info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0 45px;
  font-size: 0.8rem;
}
.comment__large--infoUser {
  font-weight: bold;
  // font-size: 0.8rem;
  text-transform: uppercase;
}
.comment__large--infoDate {
  font-weight: lighter;
  // font-size: 0.8rem;
}
.comment__large--body {
  // font-weight: bold;

  padding: 5px 0 0 55px;
}
