.local-events {
    margin: -20px 0 0 5px;
    width: 66%;
    height: 57vh;
    overflow: scroll;
}

.events-title {
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline;
    background: lightblue
}

.event-description {
    margin-left: 20px
}

.events-message {
    margin: 22px 0 0 5px
}

.events-city-name {
    margin: -8px 0 0 0
}

.events-upcoming-title {
    margin: 10px 0 0 140px;
}

.line {
    width: 30%;
    margin-left: 85px;
}