.local-events {
    margin: -20px 0 0 5px;
    width: 33%;
}

.events-title {
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline;
    background: lightblue
}

.event-description {
    margin-left: 20px
}