.dashboard {
  width: 33%;
  height: 57vh;
  background: white;
  margin: -21px 0 0 0;
  border: 2px solid black;
}

.dashboard__top {
  display: flex;
  justify-content: center;
  margin: 2rem auto 0;
}
.dashboard__top--userImg {
  max-width: 125px;
  max-height: 125px;
  padding: 0 1rem;
  border-radius: 50%;
}

.dashboard__user {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Staatliches", cursive;

  //   border: solid 1px red;
}
.dashboard__user--hello {
  font-size: 1rem;
}
.dashboard__user--displayname {
  font-size: 2rem;
  margin: 0 auto;
}
.dashboard__user--line {
  border: 1px solid black;
  width: 90%;
}
.dashboard__bottom {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
}
