.dashboard-container {
    width: 33%;
    height: 57vh;
    background: white;
    margin: -21px 0 0 0;
    border: 2px solid black;
}

.dashboard-top {
    display: flex;
    margin: 28px 0 0 5px;
}

.dashboard-img {
    width: 100px;
    height: 100px;
    margin: 5px 0 0 8px;
    border-radius: 50px;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    align-items: center;
}

.horizontal-line {
    border: 1px solid black;
    width: 90%
}