.forumPost__container {
  width: 66%;
  overflow: auto;
}
.forumPost__container--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forumPost__container--bottom {
  display: flex;
  justify-content: space-between;
}

.forumPost__header {
  margin: 20px 0 0 0;

  font-family: "Staatliches", cursive;
}
.forumPost__header--forum {
  margin: 0px 0 0 20px;

  font-size: 5rem;
}
.forumPost__header--forum:hover {
  cursor: pointer;
}
.forumPost__header--directory {
  display: inline;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0 0 20px 30px;
}
.forumPost__header--topic:hover {
  cursor: pointer;
  text-decoration: underline;
}
.forumPost__discussion {
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
}
.forumPost__discussion--comments {
  margin: 0 0 0 50px;
}

.forumPost__form {
  // display:flex;
  // align-self: flex-end;
  margin: 50px 0 0 0;
  position: relative;
}
.forumPost__form--image {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  position: absolute;
  margin: -4px 0 0 -15px;
}
.forumPost__form--input {
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  width: 500px;
  padding: 0 0 0 50px;
  // margin: 0 0 0 0;
}
.forumPost__form--button {
  margin: 0 0 0 100px;
  height: 44px;
  width: 30%;
  background: black;
  position: absolute;

  border-radius: 10px;
  border: 1px solid black;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}
